<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    
    <header>
      <%- include('./partials/header.ejs') %>
    </header>

    <main>
      <h2>Enjoy our Italian food</h2>
      <p>Our famous pizza and pasta made from the best chef's in the world.</p>
    </main>
  </body>
</html>
